/* Please note this document will be updated as time goes by. Thank you */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* font-family: 'Fira sans', sans-serif; */
           font-family: "Poppins", sans-serif;
        font-size: 16px;
    }

    body {
        /* font-family: "Poppins", sans-serif; */
        background: #6c5ce7;
        color:#FFF;
    }
}

@layer components {
    ul {
        @apply list-disc list-inside p-0 m-0;
    }
    li {
        @apply mb-2 text-slate-700;
    }
    maki
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"], textarea {
        @apply block w-full rounded-md border-0 p-2 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-300 placeholder:text-slate-500 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm bg-white;
    }
    label {
        @apply block text-sm font-medium leading-6 text-slate-900 first-letter:capitalize;
    }
    header {
        @apply bg-slate-800 shadow-md;
    }
    nav {
        @apply p-5 max-w-screen-lg mx-auto flex items-center justify-between;
    }
    main {
        @apply max-w-screen-lg mx-auto;
    }
    .primary-btn {
        @apply flex w-full justify-center rounded-md bg-blue-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-slate-400 disabled:cursor-wait;
    }
    .secondary-btn {
      @apply flex w-full justify-center rounded-md bg-gray-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600 disabled:bg-slate-400 disabled:cursor-wait;
    }
    .success-btn {
        @apply flex w-full justify-center rounded-md bg-green-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 disabled:bg-slate-400 disabled:cursor-wait;
    }
    .danger-btn {
        @apply flex w-full justify-center rounded-md bg-red-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 disabled:bg-slate-400 disabled:cursor-wait;
    }
    .warning-btn {
        @apply flex w-full justify-center rounded-md bg-yellow-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-yellow-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600 disabled:bg-slate-400 disabled:cursor-wait;
    }
    .info-btn {
        @apply flex w-full justify-center rounded-md bg-teal-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-teal-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600 disabled:bg-slate-400 disabled:cursor-wait;
    }
    .light-btn {
        @apply flex w-full justify-center rounded-md bg-white px-3 py-1.5 text-sm font-semibold leading-6 text-slate-700 shadow-sm hover:bg-slate-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-100 disabled:bg-slate-400 disabled:cursor-wait;
    }
    .dark-btn {
        @apply flex w-full justify-center rounded-md bg-slate-800 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-slate-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-900 disabled:bg-slate-400 disabled:cursor-wait;
    }
    .text-link {
        @apply font-semibold text-blue-500 hover:text-blue-600;
    }
    .nav-link {
        @apply text-slate-200 hover:bg-slate-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium;
    }
    .title {
        @apply my-6 text-center text-3xl font-bold leading-9 text-slate-900;
    }
    .error {
        @apply text-xs text-red-500 mt-1;
    }
    table {
        @apply w-full text-sm text-left rounded-md shadow-lg overflow-hidden mb-6 table-auto bg-white;
    }
    thead {
        @apply text-xs uppercase font-medium border-b border-slate-100 text-slate-600;
    }
    tbody tr {
        @apply hover:bg-slate-100 w-full p-0;
    }
    th {
        @apply px-6 py-4;
    }
    td {
        @apply px-6 py-4 border-b border-slate-100;
    }
    .avatar {
        @apply w-8 h-8 rounded-full overflow-hidden object-center object-cover;
    }
    .round-btn {
        @apply w-8 h-8 overflow-auto rounded-full bg-slate-100 focus:outline-none focus:ring-1 focus:ring-slate-100 focus:ring-offset-2 focus:ring-offset-slate-800;
    }

    /* //////////////////////////////////////////////////////////////////////////////////////////////// */
    
.container {
    width: 100%;
    max-width: 950px;
	margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__content {
    border: 1px solid #e0e0e0;
    box-shadow: 0 6px 13px -12px rgb(50 50 93 / 20%), 0 3px 7px -3px rgb(110 110 110 / 10%);
    border-radius: 4px;
    background-color:white ;
    color:black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom:30px ;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.card__content--header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; 
    padding: 30px;
}

.invoice__title {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.btn {
    border: 1px solid #6a727a;
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary {
    background: #FFF;
    color: black;
}

.btn-secondary:hover {
    background: #f1f1f1;
    color: #6a727a;
}


table {
    background: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 30px;
}
.table--filter {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.table--filter--list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
  
}

.table--filter--link--active {
    color: #006fbb;
    font-weight: 500;
}

.table--filter--link {
    margin-right: 1rem;
}

.table--filter--collapseBtn {
    display: none;
}

ul {
    list-style: none;
}

.table--search {
    padding: 0 30px;
    display: grid;
    -ms-grid-columns: minmax(150px, auto) minmax(180px, 1fr);
    grid-template-columns: minmax(150px, auto) minmax(180px, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;
}

.table--search--wrapper {
    position: relative;
}

.table--search--select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #eeeeee;
    color: #6a727a;
    width: 100%;
    border: none;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

.relative {
    position: relative;
}

.table--search--input--icon {
    top: 12px;
    left: 12px;
    color: #d4d4d4;
    position: absolute;
}

.table--search--input {
    width: 100%;
    border: none;
    color: #454f5b;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 40px;
   
}

.table--heading {
    padding: 0 30px;
    gap: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    color: #808891;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1.2rem;
    margin-top: 20px;
}

.table--items {
    padding: 10px 30px !important;
    gap: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.6rem 0;
}

.table--items--transactionId {
    color: #006fbb;
    font-weight: 500;
}

.input {
    padding: 9px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width: 100%;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectBtnFlat {
    border: none;
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    color: #FFF;
    background: none;
}

.table--heading2 {
    display: grid;
    grid-template-columns: 550px 1fr 1fr 1fr 25px;
    grid-gap: 10px;
    padding: 10px 30px !important;
    font-weight: 900;
    border-bottom: 1px solid #e0e0e0;
    background: #DDDDDD;
}

.table--items2 {
    display: grid;
    grid-template-columns: 550px 1fr 1fr 1fr 25px;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 30px !important;
}

.table__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 10px 30px !important;
    
}

.table__footer--subtotal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}

.table__footer--subtotal p {
    font-size: 20px;
}
.table__footer--subtotal span {
    font-size: 20px;
}

.table__footer--discount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 500;
    margin-bottom: 20px;
}

.table__footer--discount p {
    font-size: 20px;
}

.table__footer--total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 500;
    margin-bottom: 20px;
}

.table__footer--total p {
    font-size: 26px;
}

.table__footer--total span {
    font-size: 26px;
}

.textarea {
    padding: 9px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width: 100%;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*========== MODAL ==========*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: #454f5b;
}

.show {
    display: block !important;
}

.modal__content {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 15px rgb(35 40 47 / 25%);
    position: relative;
    border: none;
    border-radius: 7px;
}

.modal__close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    top: 5px;
    right: 15px;
    position: absolute;
    cursor: pointer;
}

.modal__title {
    margin-bottom: 20px; 
}

.modal__items {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.inputAdd {
    padding: 9px 15px;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 100%;
}

.inputAdd__Btn {
    background: #5463c1;
    color: white;
    border-top: 1px solid #5463c1;
    border-right: 1px solid #5463c1;
    border-bottom: 1px solid #5463c1;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 9px 15px;
    cursor: pointer;
}

.model__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    
}

.btn {
    border: 1px solid #6a727a;
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.btn-light {
    border: 1px solid #808891;
    background: white;
    color: #454f5b;
}
.mr-2 {
    margin-right: 20px;
}

/*========== SHOW INVOICE ==========*/

.card__header--title {
    display: flex;
    justify-content: flex-start;
}

.card__header--title h1 {
    padding-right: 5px;
}

.card__header-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.invoice {
    background:white ; 
    color:black
}

.logo {
    padding-top:40px;
    padding-left:25px;
    height: 60px;
    padding-bottom: 15px;
}

.invoice__header--title {
    background-color: #fca120; 
    display: grid; 
    grid-template-columns: 65% 1fr 1fr;
    margin-top: 80px;
}

.invoice__header--title-1 {
    font: bold 100% sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: white;
    text-align: center;
    font-size: 36px;
    padding-left: 45px;
    padding-right: 45px;
}

.invoice__header--item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 200px;
    padding: 40px;
}

.invoice__header--item1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

.invoice__header--item1 p {
    font-size: 20px;
}

.invoice__header--item1 span {
    font-size: 20px;
}

.invoice__header--item2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.invoice__header--item2 p {
    font-size: 20px;
}

.invoice__header--item2 span {
    font-size: 20px;
}

.table--heading3 {
    display: grid;
    grid-template-columns: 25px 500px 1fr 1fr 1fr ;
    grid-gap: 10px;
    padding: 10px 30px !important;
    font-weight: 900;
    background-color:black; 
    color:white;
    font-size: 20px;
}

.py1 {
    padding-left: 40px;
    padding-right: 40px;
}

.table--items3 {
    display: grid;
    grid-template-columns: 25px 500px 1fr 1fr 1fr ;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 30px !important;
    font-size: 16px;
    color: black;
}

.table--items--transactionId3 {
    color: black;
    font-weight: 500;
}

.invoice__subtotal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 200px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.invoice__subtotal--item1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.invoice__subtotal--item1 p {
    font-size: 20px;
    padding-left: 55px;
}

.invoice__subtotal--item1 span {
    font-size: 20px;
}

.invoice__subtotal--item2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.invoice__subtotal--item2 p {
    font-size: 20px;
    padding-left: 55px;
}

.invoice__subtotal--item2 span {
    font-size: 20px;
}

.invoice__total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
    padding: 25px;
}

.grand__total {
    margin-top: 50px;
    background-color: #fca120;
    color: black;
}

.grand__total--items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0.5in;
    padding-right: 0.5in;font-size: 26px;
}

.grand__total--items p {
    font-size: 26px;
}

.grand__total--items span {
    font-size: 26px;
}
}
